

// body {
//     font-family: 'Arvo', serif;
//     background-image: url("https://images.hdqwalls.com/wallpapers/simple-subtle-abstract-dark-minimalism-4k-u9.jpg");
//     background-color: grey;
//     background-size: cover;
// }


///////////////////////////////////////////////////////////////////////////

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arvo', serif;
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// etc

header {
    padding: 1rem;
}

main {
    padding: 20rem;
    text-align: center;
}

footer {
    padding: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
}
