

// body {
//     font-family: 'Arvo', serif;
//     background-image: url("https://images.hdqwalls.com/wallpapers/simple-subtle-abstract-dark-minimalism-4k-u9.jpg");
//     background-color: grey;
//     background-size: cover;
// }


///////////////////////////////////////////////////////////////////////////

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arvo', serif;
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// etc

header {
    padding: 1rem;
    font-size: 150%;
}

main {
    padding: 1rem;
    padding-bottom: 300px;
    text-align: center;
    font-size: 300%;
}

footer {
    padding: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
}

.OccupancyValue {
    color: red;
    text-shadow: 2px 2px 5px black;
}





/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgb(37, 34, 34);
    overflow: auto;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: large;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Current/active navbar link */
.active {
    background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

// COLLAPSIBLE
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .grid-container {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
   // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .saveButton {
    background-color: rgba(255, 255, 255, 0.8);
    align-self: grid;
  }