// body {
//     font-family: 'Arvo', serif;
//     background-image: url("https://images.hdqwalls.com/wallpapers/simple-subtle-abstract-dark-minimalism-4k-u9.jpg");
//     background-color: grey;
//     background-size: cover;
// }


///////////////////////////////////////////////////////////////////////////

body {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(10, 1fr);
    font-family: 'Arvo', serif;
    background: #3a7bd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// etc

header {
    grid-row: 1 / span 2;
    padding: 1rem;
    font-size: 150%;
}

main {
    grid-row: 3 / span 7;
    padding: 1rem;
    padding-bottom: 300px;
    text-align: center;
    font-size: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer {
    grid-row: 10 / span 1;
    padding: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
}

.OccupancyValue {
    color: red;
    text-shadow: 2px 2px 5px black;
}





/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgb(37, 34, 34);
    overflow: auto;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: large;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Current/active navbar link */
.active {
    background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.OccupancyArea{
    font-size: 300%;
    grid-column: 5 / span 4;
    grid-row: 1 / span 1;
}






// COLLAPSIBLE
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    //outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .collapsibleArea{
    grid-column: 6 / span 2;
    grid-row: 2 / span 1;
  }


.saveButton {
    background-color: rgba(255, 255, 255, 0.8);
}

.errors {
    color: red;
    // padding: 1rem;
    text-align: center;
    font-size: 15px;
}


input:invalid {
    border: 2px dashed red;
}

//   input:invalid:required {
//     background-image: linear-gradient(to right, pink, lightgreen);
//   }

input:valid {
    border: 2px solid black;
}


input {
    width: 200px;
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 75px;
    color: rgb(255, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }